*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/inspectionProfiles/Project_Default.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_2021_5_31,_10_30_AM_[Default_Changelist]/build_file_checksums.ser
/.idea/shelf/Uncommitted_changes_before_Update_at_2021_5_31,_10_30_AM_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_2021_5_31__10_30_AM__Default_Changelist_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_2021_5_31,_10_30_AM_[Default_Changelist]/build_file_checksums.ser
/.idea/shelf/Uncommitted_changes_before_Update_at_2021_5_31,_10_30_AM_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_2021_5_31,_10_30_AM_[Default_Changelist]/build_file_checksums.ser
/.idea/shelf/Uncommitted_changes_before_Update_at_2021_5_31,_10_30_AM_[Default_Changelist]/shelved.patch
