<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liang.module_laboratory">

    <application>
        <activity android:name=".HandlerThreadActivity" />
        <activity android:name=".ThreadPoolExecutorActivity" />
        <activity android:name=".doubleRecyclerView.NestRecyclerViewActivity" />
        <activity
            android:name=".breathing.BreathingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".select_list.SelectItemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestLaboratoryActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>