<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liang.module_eyepetizer">

    <application>
        <activity
            android:name=".ui.activity.TestLocalDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.EyePetizerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.EyeSplashActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>