<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="liang.com.baseproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <meta-data
        android:name="android.max_aspect"
        android:value="ratio_float" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_new_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/icon_new_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="n">
        <activity android:name=".mine.activity.ReadLaterActivity"></activity>
        <activity android:name=".mine.activity.CollectionActivity" />
        <activity android:name=".setting.activity.AppSettingActivity" />
        <activity
            android:name=".login.activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.FeedbackActivity" />
        <activity
            android:name=".activity.SplashOneActivity"
            android:theme="@style/Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SplashTwoActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".activity.WhiteActivity" />
        <activity android:name=".activity.TranslateActivity" />
        <activity
            android:name=".activity.MainHomeActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".base.PermissionActivity"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".activity.TestCodeActivity" />
        <activity android:name=".activity.WebViewDetailActivity" />
        <activity android:name=".activity.SinglePictureActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.ViewPagerPictureActivity" />
        <activity android:name=".activity.ThemeSettingActivity" />
    </application>

</manifest>